.t1 {
    color: #ff6a00 !important;
}

.navbar-nav .nav-link{
  position: relative;
  color: #222;
  font-weight: 500;
  padding: 10px 18px;
  transition: all 0.3s ease;
}
.navbar-nav .nav-link:hover{
  color: #ff6b00;
}
.navbar-nav .nav-link::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #ff6b00;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.navbar-nav .nav-link:hover::after, .navbar-nav .nav-link.active::after{
  width: 70%;
}

.navbar-nav .nav-link.active{
  color: #ff6b00;
  font-weight: 600;
}

i{
  cursor: pointer;
}
.login-btn{
    border: none;
    background-color: #ff6a00;
    color: white;

}