.span1{
    background-color: #ff6a00;
    color: white;
}
.icon1{
    /* color: orangered; */
    color: #ff6a00;
    background-color: #f8f9fa;
    

    
}
.img1{
     background-color: #f8f9fa;
     border-radius: 50%;
     margin-bottom: 10px;

}
